*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html, body{
	background-color: #fff;
	font-family: 'Lato', 'Arial', sans-serif;
	font-weight: 600;
	font-size: 20px;
	height: 100%;
	width: 100%;
	text-rendering: optimizeLegibility;
}

.hedear{
  width: 100%;
  margin: 0;
  position: relative;
}
header{
  position: relative;
  width: 100%;
  height: 15%;
  background-color: white;
  float: left;
  display: inline-block;
  box-shadow: -2px 2px 10px white;
  overflow: hidden;
}
.logo{
  width: 15%;
  height: 100%;
  float: left;
}
header img{
  width: 50%;
  margin-left: 25%;
  margin-top: 1%;
}
.navigation{
  width: 70%;
  height: 100%;
  float: left;
  text-align: center;
  list-style: none;
}
.navigation li{
  margin-left: 6%;
  margin-top: 2%;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
}
h3{
  font-size: 120%;
  margin-top: 1%;
  margin-left: 5%;
  font-weight: 400;
  opacity: 0.9;
  color: gray;

}
.navigation li a{
  text-decoration: none;
  color: black;
  font-size: 80%;
  font-weight: 400;
  opacity: 0.7;
}
.navigation ul{
  list-style: none;
}
.right-navigation{
  width: 15%;
  height: 100%;
  float: right;
}
.right-navigation li{
  display: inline-block;
  margin-left: 20%;
  margin-top: 20%;
  text-align: center;
  font-size: 110%;
  cursor: pointer;
  opacity: 0.7;

}
.right-navigation li a{
  text-decoration: none;
  color: black;
  font-size: 110%;
  cursor: pointer;
}
.right-navigation li a:hover{
  color: green;
}
.login-logout{
  background-color: white;
  border: none;
  font-size: 110%;
  cursor: pointer;
}
.login-logout:hover{
  color: green;
}
.main-nav{
  list-style: none;
}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal {
    display: none;  /*Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;  /*Full width*/ 
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: white;
    margin: auto;
    padding: 0;
    border-radius: 3%; 
    border: 1px solid #888;
    width: 300px;
    height: 450px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    text-align: center;
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.form-logo{
  width: 100%;
  text-align: center;
}
.modal-content a{
  font-size: 90%;
  color: green;
  text-decoration: none;
  padding-bottom: 30%;
}
.modal-content a:hover{
  color: black;
}
.reg-button{
  margin-top: 35%;
}
.form-logo img{
  text-align: center;
  width: 30%;
  margin-top: 3%;
}
.login-form{
  width: 100%;
  margin-top: 10%;
}
.login-form a{
  text-decoration: none;
  font-size: 70%;
  color: green;
  margin-top: 5%;
  margin-left: 3%;
}
.login-form a:hover{
  /*border-bottom: 2px solid black;*/
  color: black;
}
.login-form form{
  width: 100%;
  margin-top: 5%;
  text-align: center;
}
.input-type{
  width: 90%;
  height: 40px;
  text-align: center;
  background-color: #F8F8F8;
  border-bottom: 0.5px solid white;
  display: inline-block;
}
.input-type i{
  font-size: 90%;
  margin-left: -20%;
  margin-top: 1%;
}
input[type=text], input[type=password], input[type=email]{
  width: 70%;
  height: 35px;
  font-size: 80%;
  color: gray;
  border: 15px;
  margin-top: .5%;
  background-color: #F8F8F8;
}
input[type=submit]{
  width: 90%;
  margin-top: 10%;
  height: 40px;
  background-color: black;
  color: white;
  font-size: 100%;
  border: 1px solid black;
  border-radius: 2%;
}
input[type=submit]:hover{
  color: green;
}
/* detail start */
.detailsection{
  padding: 5% 0;
  width: 90%;
  margin-left: 5%;
  overflow: auto;
}

.right-section{
  float: right;
  width: 60%;
  padding: 30px;
}

hr{
  margin-top: 10px;
  margin-bottom: 10px;
  opacity: 0.7;
}

.gen{
  margin-left: 0px;
}

.left-section{
  width: 40%;
  float: left;
}

.product-detail{
    font-size: 14px;
    line-height: 1.4;
    font-weight: 100;
}
ul{
  font-weight: 100;
  line-height: 1.4;
  font-size: 14px;
}

.addtocartbtn {

    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    border: none;
  width: 250px;
  cursor: pointer;
  font-size: 100%;
  height: 50px;
  background-color: black;
  color: white;
}
.addtocartbtn:hover{
  color: green;
  font-size: 100%;
}
.detail-img{
  /* float: left; */
  height: 500px;
  width: 400px;
}

.rightdwn{
  padding-top: 15px;
}
/* end of detail css */

/* checkout ka css start */
.checkoutleft{
  width: 60%;
  float: left;
  padding-right: 25px;
}
.checkoutright{
  width: 40%;
  float: right;
}
.checkout{
  width: 80%;
  margin-left: 10%;
  margin-top: 5%;
}

.subtitle{
  font-weight: 100;
}
.beautifulbtn{
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  border: none;
  width: 300px;
  cursor: pointer;
  height: 50px;
  background-color: black;
  color: white;
}
.loginlink{
  color: lightblue;
  text-decoration: none;
}
.small{
  font-size: 15px;
}
input {
    height: 50px;
    border-radius: 5px;
    border: 1px solid lightgray;
    padding-left: 5px;
    font-size: 20px;
    vertical-align: middle; /* This is optional but it makes legacy IEs look better */
}

input[type=email]{
  /*width: 100%;*/
}
input[type=password]{
  width: 100%;
  margin-bottom: 20px;
}

input[type="checkbox"]{
  width: 20px; /*Desired width*/
  height: 20px; /*Desired height*/
}
.checkout{
  font-weight: 100;
}

h5{
  margin-top: 15px;
  font-weight: 100;
  font-size: 25px;
}

.checkout-heading{
  font-size: 35px;
  font-weight: 100;
  padding-bottom: 10px;
}
.reginput{
  margin-top: 20px;
  display: inline-block;
  width:49.5%;
  margin-bottom: 20px;
}
footer{
  /*margin-top: 10%;*/
  width: 100%;
  height: auto;
  background-color: black;
}
.footer-left{
  margin-left: 3.3%;
  width: 30%;
  /*height: 80%;*/
  float: left;
  text-align: center;
}
.foo h5, a{
  font-weight: 400;
  margin-top: 5%;
  color: white;
  text-align: center;
  font-size: 70%;
  text-transform: uppercase;
} 
.footer-left a{
  cursor: pointer;
}
.footer-middle{
  margin-left: 3.3%;
  width: 30%;
  /*height: 80%;*/
  float: left;
}
.footer-middle input{
  margin-top: 5%;
  margin-left: 13%;
}
.footer-right{
  margin-left: 3.3%;
  width: 30%;
  /*height: 80%;*/
  float: left;
  text-align: center;
}
.footer-right i{
  margin-top: 7%;
  margin-left: 5%;
  color: white;
}
.aouther-line{
  width: 100%;
  height: auto;
  text-align: center;
  padding-top: 5%;
  padding-bottom: 2%;
}
.aouther-line p{
  color: white;
  font-size: 60%;
  font-weight: 100;
  margin-top: 5%;
} 