input[type=text]{
  width: 100%;
}

*{
  font-weight: 100;
}
caption{
  padding-top: 15px;
  /* padding-bottom:15px; */
  padding-left: 15px;
  font-size: 16px;
  text-align: left;
  width: 100%;
}
#cvvvv{
  width: 100%;
}
.tablelike{
  border: 1px solid lightgray;
}
#ccnumber{
  width: 100%;
}
table{
  padding: 15px;
  width: 100%;
  height: auto;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* select{
  font-weight: 100;
  width: 39.1%;
  height: 50px;
  border-radius: 5px;
  border: 1px solid lightgray;
  padding-left: 5px;
  font-size: 20px;
  vertical-align: middle;
} */
